
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OrderLunch</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-md-offset-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("首頁", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-family:DFKai-sb;font-size:x-large" })
            </div>
            <div class="navbar-collapse collapse ">

                <ul class="nav navbar-nav" style="font-family:DFKai-sb;color:white">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="~/" style="font-size:x-large">會員<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="font-size:larger">
                            @ifCanEdit()
                            @checkIfMember()
                            @ifjoin()
                        </ul>
                    </li>
                    <li style="font-size:x-large"><a href="~/Menu/menuList">管理菜單</a></li>
                    <li style="font-size:x-large"><a href="#">訂單</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="text-center">
                <p style="font-size:xx-large;color:blue">Hello @Session["identity"]</p>
            </div>
        </footer>
    </div>

</body>
</html>


@helper checkIfMember() {
//顯示登出或者登入
    if (Convert.ToInt32(Session["memberId"]) == 0) {
            <li><a href="~/Member/login">登入</a></li>
    } else {
            <li><a href="~/Member/logout">登出</a></li>
    }
}

@helper ifCanEdit() {
//是否顯示修改資料
if (Convert.ToInt32(Session["memberId"]) != 0) {
        <li><a href="~/Member/edit">修改會員資料</a></li>
}

}

@helper ifjoin() {
//是否顯示修改資料
if (Convert.ToInt32(Session["memberId"]) == 0) {
        <li><a href="~/Member/Join">加入會員</a></li>
}
}
